@using SameBirthday.Utils
<div class="container content">
    <h2 class="text-center">Узнай кто родился с тобой в один день!</h2>
    <div class="fd">
        <form id="date" action="" role="form">
            <select id="day" name="day" class="form-control">
                @{
                    for (int i = 1; i <= 31; i++)
                    {
                        if (@ViewBag.Day == i)
                        {
                            <option selected="selected">@i</option>
                        }
                        else
                        {
                            <option>@i</option>
                        }
                    }
                }
            </select>

            <select id="month" name="month" class="form-control">
                @{
                    for (int i = 1; i <= 12; i++)
                    {
                        if (@ViewBag.Month == i)
                        {
                            <option selected="selected" value="@ViewBag.Month">@DateFormer.GetMonth(i)</option>
                        }
                        else
                        {
                            <option value="@i">@DateFormer.GetMonth(i)</option>
                        }
                    }
                }
            </select>

        <!--
        <input id="inputMonth" type="text" name="month" value="1">
        <input id="inputDay" type="text" name="day" value="1">
        <div class="btn-toolbar">
            <div class="btn-group">
                <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <label id="lbDay">1</label>
                    <span class="caret"></span>
                </a>
                <ul id="days-list" class="dropdown-menu">
                    <li><a>1</a></li>
                    <li><a>2</a></li>
                    <li><a>3</a></li>
                    <li><a>4</a></li>
                    <li><a>5</a></li>
                    <li><a>6</a></li>
                    <li><a>7</a></li>
                    <li><a>8</a></li>
                    <li><a>9</a></li>
                    <li><a>10</a></li>
                    <li><a>11</a></li>
                    <li><a>12</a></li>
                    <li><a>13</a></li>
                    <li><a>14</a></li>
                    <li><a>15</a></li>
                    <li><a>16</a></li>
                    <li><a>17</a></li>
                    <li><a>18</a></li>
                    <li><a>19</a></li>
                    <li><a>20</a></li>
                    <li><a>21</a></li>
                    <li><a>22</a></li>
                    <li><a>23</a></li>
                    <li><a>24</a></li>
                    <li><a>25</a></li>
                    <li><a>26</a></li>
                    <li><a>27</a></li>
                    <li><a>28</a></li>
                    <li><a>29</a></li>
                    <li><a>30</a></li>
                    <li><a>31</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <label id="lbMonth">Январь</label>
                    <span class="caret"></span>
                </a>
                <ul id="monthes-list" class="dropdown-menu">
                    <li><a value="1">Январь</a></li>
                    <li><a value="2">Февраль</a></li>
                    <li><a value="3">Март</a></li>
                    <li><a value="4">Апрель</a></li>
                    <li><a value="5">Май</a></li>
                    <li><a value="6">Июнь</a></li>
                    <li><a value="7">Июль</a></li>
                    <li><a value="8">Август</a></li>
                    <li><a value="9">Сентябрь</a></li>
                    <li><a value="10">Октябрь</a></li>
                    <li><a value="11">Ноябрь</a></li>
                    <li><a value="12">Декабрь</a></li>
                </ul>
            </div>
        </div>
            -->
        <button id="submitBtn" type="submit" class="btn btn-primary">Узнать <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </form>
    </div>

    @{
        if (ViewBag.List != null)
        {
            foreach (var item in ViewBag.List)
            {
                string imgSrc = Href($"~/Resorces/Items/{item.Index}.jpg");
                string filePath = Request.MapPath(imgSrc);
                if (!File.Exists(filePath))
                {
                    imgSrc = Href("~/Resorces/noPicture.png");
                }

                <div class="row" id="information">
                    <div class="col-xs-4 col-sm-4 col-sm-3 image-container">
                        <img src="@imgSrc" class="img-responsive" alt="@item.Name">
                    </div>
                    <div class="col-xs-8 col-sm-9 text-container">
                        <h4 id="name">@item.Name</h4>
                        <p class="text-with-margins">Дата рождения: @DateFormer.Get(item.Day, item.Month, item.Year)</p>
                        <p class="description-text">@item.Description</p>
                        @{
                            if (!string.IsNullOrEmpty(item.Url))
                            {
                                <a class="wiki-text" target="_blank" href="@item.Url">Wikipedia</a>
                            }
                        }
                    </div>
                </div>   
            }
        }
    }
</div>

<br />
<br />