@{
    ViewBag.Title = "Index";
}

<h2 align="center">Узнай кто родился с тобою в один день!</h2>

<form class="MainInput" action="">
    <select name="Day">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
    </select>
    <select name="Month">
        <option value="1">Январь</option>
        <option value="2">Февраль</option>
        <option value="3">Март</option>
        <option value="4">Апрель</option>
        <option value="5">Май</option>
        <option value="6">Июнь</option>
        <option value="7">Июль</option>
        <option value="8">Август</option>
        <option value="9">Сентябрь</option>
        <option value="10">Октябрь</option>
        <option value="11">Ноябрь</option>
        <option value="12">Декабрь</option>
    </select>
    <input type="submit">
</form>

<br />
<br />

@{
    if (ViewBag.List != null)
    {
        foreach (var item in ViewBag.List)
        {
            string imgSrc = string.Empty;
            if (item.Image != null)
            {
                var base64 = Convert.ToBase64String(item.Image);
                imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            }

            <div class="jumbotron">
                <img src='@imgSrc' />
                <p>@item.Name</p>
                <p>Birthday: @item.Day @item.Month @item.Year</p>
                <p>@item.Description</p>
                <p>@item.Url</p>
            </div>
        }
    }
}
